<div id="<%= dom_id channel %>">
  <%
    classes = "rounded-lg py-2 px-5 bg-gray-100 inline-block peer w-full"
    classes += channel == current_channel ? "font-bold" : "font-medium"
  %>
  <div class="<%= classes %> flow-root">
    <div class="float-left">
      <%= link_to "#{channel.name}", channel, aria: { describedby: dom_id(channel, :tooltip) } %>
    </div>
    <div class="float-right">
      <%= button_to channel, method: :delete do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
        </svg>
    <% end %>
    </div>
</div>

  <turbo-frame id="<%= dom_id channel, :tooltip %>" target="_top" role="tooltip"
               src="<%= channel_tooltip_path(channel, turbo_frame: dom_id(channel, :tooltip)) %>"
               class="hidden absolute translate-y-[-200%] z-10
                     peer-hover:block peer-focus:block hover:block focus-within:block"
               loading="lazy"
  >
</div>
