<div class="mx-auto">
  <div class="max-w-2xl border rounded">
    <div>
      <div class="w-full">
        <div class="relative flex items-center p-3 border-b border-gray-300">
          <span class="block ml-2 font-bold text-gray-600">
            <% if current_channel %>
              <%= current_channel.name %>
            <% else %>
                No channel selected
            <% end %>
          </span>
        </div>

        <div class="relative w-full p-6 overflow-y-auto h-[40rem]">
          <ul class="space-y-2" id='chat' data-controller="scroll">
            <%= turbo_stream_from current_channel %>
            <%= render current_channel.messages.order(id: :asc) if current_channel %>
          </ul>
        </div>

        <div class="flex items-center justify-between w-full p-3 border-t border-gray-300">
            <%= render 'messages/form' if current_channel %>
        </div>
      </div>
    </div>
  </div>
</div>
