<turbo-frame id="<%= dom_id(Channel.new, :form) %>">
  <%= form_for [Channel.new] do |f| %>
    <div class="container flex justify-center items-center">
        <div class="relative">
          <div class="absolute top-4 left-3">
            <i class="fa fa-search text-gray-400 z-20 hover:text-gray-500"></i>
          </div>
          <%= f.text_field :name, placeholder: 'new channel', class: 'placeholder-gray-500 w-full rounded-full outline-none h-14 w-full pl-5 pr-20' %>
          <div class="absolute top-2 right-2 py-2">
            <%= f.button do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13a1 1 0 102 0V9.414l1.293 1.293a1 1 0 001.414-1.414z" clip-rule="evenodd" />
              </svg>
            <% end %>
          </div>
        </div>
    </div>
  <% end %>
</turbo-frame>
