<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Channels</h1>
  </div>

  <div class="grid grid-cols-5 gap-3">
    <div class="min-w-full">
      <div id="channels" class="space-y-4">
        <%= turbo_stream_from :channels %>
        <%= render @channels %>
      </div>
      <div class="py-5">
        <%= render 'form' %>
      </div>
    </div>
    <div class="col-span-4">
      <%= render 'chat' %>
    </div>
  </div>
</div>
