<turbo-frame id="<%= dom_id(current_channel, :form) %>">
  <%= form_for [current_channel, Message.new] do |f| %>
    <div class="container flex justify-center items-center">
        <div class="relative">
          <div class="absolute top-4 left-3">
            <i class="fa fa-search text-gray-400 z-20 hover:text-gray-500"></i>
          </div>
          <%= f.text_field :content, placeholder: 'new message', class: 'bg-gray-100 placeholder-gray-500 w-full rounded-full outline-none h-14 w-full pl-5 pr-20' %>
          <div class="absolute top-2 right-2 py-2">
            <%= f.button do %>
              <svg class="w-5 h-5 text-gray-500 origin-center transform rotate-90" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20" fill="currentColor">
                <path
                  d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z" />
              </svg>
            <% end %>
          </div>
        </div>
    </div>
  <% end %>
</turbo-frame>
