<li class="flex justify-start">
  <div class="relative max-w-xl px-4 py-2 rounded shadow">
    <span class="block text-grey-700"><%= message.content %></span>
    <span class="block text-xs text-gray-400"><%= message.author %></span>
  </div>
</li>
